@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1b1b1b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b1b1b;
    --foreground: #fff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

.gradient-text {
  /* Fallback color if gradients / text clipping aren't supported */
  color: #97fca6;
}

/* Use gradient text where supported */
@supports ((-webkit-background-clip: text) or (background-clip: text)) {
  .gradient-text {
    background-image: linear-gradient(155deg, #97fca6 0%, #f6c90f 100%);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; /* Chrome / Safari */
    color: transparent; /* Firefox */
  }
}
